<section class="row d-flex justify-content-center">
  <section class="col-8">
    <h1 class="my-5">Weather App</h1>
    <section>
      <div class="container">
        <div class="row px-0 my-3">
          <input
            class="form-control rounded"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [formControl]="searchControl"
          />
          <label for="form-control">
            <div *ngIf="!cities || tLength < 1" class="media">
              <a>CITY NOT FOUND</a>
            </div>
          </label>
        </div>

        <div
          class="card"
          *ngIf="cities && tLength > 100"
          class="row media bg-white p-3 border rounded box-shadow"
        >
          <div class="col-12 m-0 p-0">
            <div class="row w-100">
              <div class="col-4">
                <div *ngIf="isLoading">
                  <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <img
                  class="media-object img"
                  src="https://loremflickr.com/320/240/{{ cities.name }}"
                  alt="{{ cities.name }}"
                />
              </div>
              <div class="col-8">
                <div class="card-block px-3">
                  <div class="row w-100 m-0">
                    <div class="col-6 p-0">
                      <h2 class="media-heading">{{ cities.name }}</h2>
                    </div>
                    <div class="col-6 p-0">
                      <h2 class="card-text text-right">
                        {{ cities.main.temp / 10 | number: '1.0-0' }} &#8451;
                      </h2>
                    </div>
                  </div>
                  <div class="row pt-5">
                    <div class="col-12">
                      <p>Pressure: {{ cities.main.pressure }} mb</p>
                      <p>Humidity: {{ cities.main.humidity }} %</p>
                      <p>Wind speed: {{ cities.wind.speed }} m/s</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
